html {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  background: #261c33;
  justify-content: center;
  font-family: sans-serif;
}

h2 {
  margin: 20px;
  font-size: 40px;
  color: #8d81f3;
  text-align: center;
}

main {
  height: 420px;
  display: flex;
  margin: 0 auto;
  font-size: 22px;
  max-width: 768px;
  align-items: center;
  justify-content: space-around;
  font-family: monospace, sans-serif;
}

main label {
  display: block;
}

main input[type="range"] {
  width: 200px;
  display: block;
  margin-bottom: 10px;
}

section.settings {
  width: 50%;
  z-index: 2;
}

.box-container {
  padding: 50px;
  border: 1px solid #8d81f3;
}

.box {
  width: 150px;
  height: 150px;
  background: #8d81f3;
}

button {
  background-color: #8d81f3;
  border: none;
  color: #fff;
  padding: 10px;
  outline: none;
  font-size: 20px;
  margin-right: 10px;
  display: inline-block;
}

label {
  color: #fff;
}